<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>FlySmart</title>

    <!-- Bootstrap core CSS -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="../static/bootstrap-switch-master/docs/css/main.css" rel="stylesheet">
    <link href="../static/bootstrap-switch-master/docs/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/bootstrap-switch-master/docs/css/bootstrap-switch.css" rel="stylesheet">
    <link href="../static/bootstrap-switch-master/docs/css/highlight.css" rel="stylesheet">
    <link href="../static/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">
    <link href="http://getbootstrap.com/assets/css/docs.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <style>
        #map {
            width: 650px;
            height: 315px
        }
        
        .input-group-addon {
            min-width: 80px;
            text-align: left;
        }
    </style>

    <!--<link rel="stylesheet" href="../static/jquery.tablesorter/docs/css/jq.css" type="text/css" media="print, projection, screen" />  -->
    <link rel="stylesheet" href="../static/jquery.tablesorter/themes/blue/style.css" type="text/css" id="" media="print, projection, screen" />
    <!-- Bootstrap stylesheet -->
    <link rel="stylesheet" href="../static/tablesorter-master/docs/css/bootstrap.min.css">
    <!-- bootstrap widget theme -->
    <link rel="stylesheet" href="../static/tablesorter-master/css/theme.bootstrap.css">

    <!-- pager plugin -->
    <link rel="stylesheet" href="../static/tablesorter-master/addons/pager/jquery.tablesorter.pager.css">
    <script src="../static/tablesorter-master/addons/pager/jquery.tablesorter.pager.js"></script>
    <script type="text/javascript" src="../static/jquery.tablesorter/jquery-latest.js"></script>
    <script type="text/javascript" src="../static/jquery.tablesorter/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="../static/jquery.tablesorter/addons/jquery.tablesorter.pager.js"></script>
    <script type="text/javascript" src="../static/jquery.tablesorter/chili-1.8b.js"></script>
    <script type="text/javascript" src="../static/jquery.tablesorter/docs/js/docs.js"></script>
    <script type="text/javascript" src="../static/jquery.tablesorter/docs/js/examples.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>

    <!-- tablesorter plugin -->
    <script src="../static/tablesorter-master/js/jquery.tablesorter.js"></script>
    <!-- tablesorter widget file - loaded after the plugin -->
    <script src="../static/tablesorter-master/js/jquery.tablesorter.widgets.js"></script>
    <script src="../static/js/progressbar.js"></script>
    
        <!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    
       <!-- Jquery Time-Picker Plugin -->
  <script type="text/javascript" src="http://jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="http://jonthornton.github.io/jquery-timepicker/jquery.timepicker.css" />

  <script type="text/javascript" src="http://jonthornton.github.io/jquery-timepicker/lib/site.js"></script>
  <link rel="stylesheet" type="text/css" href="http://jonthornton.github.io/jquery-timepicker/lib/site.css" /> 
    
            <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">

        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>

    <script>
     function display(){ 
            document.getElementById('error').style.display = 'initial';}
    </script>
    
    <script type="text/javascript">
        if ( "{{ airports['origin'] }}"=="wrong" ){
                        $(document).ready(function(){
                display();});
        } else {
            $(document).ready(function () {
            initMap("{{ airports['origin'] }}", "{{ airports['dest'] }}", {{ airports['dlat'] }}, {{ airports['dlong'] }}, {{ airports['olat'] }}, {{ airports['olong'] }});
        });

        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            plotChart();
        });
    </script>

    <script type="text/javascript" id="js">

        $(function () {

            // NOTE: $.tablesorter.theme.bootstrap is ALREADY INCLUDED in the jquery.tablesorter.widgets.js
            // file; it is included here to show how you can modify the default classes
            $.tablesorter.themes.bootstrap = {
                // these classes are added to the table. To see other table classes available,
                // look here: http://getbootstrap.com/css/#tables
                table: 'table table-bordered table-striped',
                caption: 'caption',
                // header class names
                header: 'bootstrap-header', // give the header a gradient background (theme.bootstrap_2.css)
                sortNone: '',
                sortAsc: '',
                sortDesc: '',
                active: '', // applied when column is sorted
                hover: '', // custom css required - a defined bootstrap style may not override other classes
                // icon class names
                icons: '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
                iconSortNone: 'bootstrap-icon-unsorted', // class name added to icon when column is not sorted
                iconSortAsc: 'glyphicon glyphicon-chevron-up', // class name added to icon when column has ascending sort
                iconSortDesc: 'glyphicon glyphicon-chevron-down', // class name added to icon when column has descending sort
                filterRow: '', // filter row class; use widgetOptions.filter_cssFilter for the input/select element
                footerRow: '',
                footerCells: '',
                even: '', // even row zebra striping
                odd: '' // odd row zebra striping
            };

            // call the tablesorter plugin and apply the uitheme widget
            $("table").tablesorter({
                    // this will apply the bootstrap theme if "uitheme" widget is included
                    // the widgetOptions.uitheme is no longer required to be set
                    theme: "bootstrap",
                                                
                    sortList: [[6,0]],
                
                    widthFixed: true,

                    headerTemplate: '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!
                                    
                    // widget code contained in the jquery.tablesorter.widgets.js file
                    // use the zebra stripe widget if you plan on hiding any rows (filter widget)
                    widgets: ["uitheme", "filter", "zebra"],

                    widgetOptions: {
                        // using the default zebra striping class name, so it actually isn't included in the theme variable above
                        // this is ONLY needed for bootstrap theming if you are using the filter widget, because rows are hidden
                        zebra: ["even", "odd"],

                        // reset filters button
                        filter_reset: ".reset",

                        // extra css class name (string or array) added to the filter element (input or select)
                        filter_cssFilter: "form-control",

                        // set the uitheme widget to use the bootstrap theme class names
                        // this is no longer required, if theme is set
                        // ,uitheme : "bootstrap"

                    }
                })
                .tablesorterPager({

                    // target the pager markup - see the HTML block below
                    container: $(".ts-pager"),

                    // target the pager page select dropdown - choose a page
                    cssGoto: ".pagenum",

                    // remove rows from the table to speed up the sort of large tables.
                    // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
                    removeRows: false,

                    // output string - default is '{page}/{totalPages}';
                    // possible variables: {page}, {totalPages}, {filteredPages}, {startRow}, {endRow}, {filteredRows} and {totalRows}
                    output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'

                });

        });
    </script>


    <script>
        $("[name='my-checkbox']").bootstrapSwitch();
    </script>
    
        <script>
    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      
      var startDate = new Date();
      var endDate = new Date();
        endDate.setDate(startDate.getDate()+10)
    
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
        startDate: startDate,
          endDate: endDate
      };
      date_input.datepicker(options);
    })
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#time').timepicker({'timeFormat':'gA','step':60});
        });
    </script>


</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">FlySmart</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/input">Home</a></li>
                    <li><a href="https://bit.ly/yinghan0629">Slides</a></li>
                    <li><a href="https://www.linkedin.com/in/yinghanusc">About Ying Han</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="starter-template">
            <table align=center><td>
            <img src="http://besticons.net/sites/default/files/departing-flight-icon-3634.png" style="width:70px;height:70px;"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>
            <h2>Fly Smart, Avoid Delays</h2></td>
            </table>
        </div>
        
        <div class="container">

            <form action="/output" method="GET">
                <table id="inputtable">

                    <tr>
                        <td>
                              <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon1">From</span>
                                <input type="text" class="form-control" style = "width:250px" id="from" name='from' placeholder="e.g. SFO" minlength=3 maxlength=3 value={{ inputs['origin'] }}>
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon1">To</span>
                                <input type="text" class="form-control" style = "width:250px" id="to" name='to' placeholder="e.g. JFK" minlength=3 maxlength=3 value={{ inputs['dest'] }}>
                            </div>
                           <br>
                                <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon1">Select</span>
                                    <input id="DepOrArr" class="form-control" type="checkbox" data-handle-width="100" data-size="medium" checked data-on-text="Departure" check data-off-text="Arrival" data-off-color="warning">
                            </div>                            

                            <br>
                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon1">Date</span>
                                <input class="form-control" style = "width:250px" id="date" name='date' type="text" placeholder="MM/DD/YYYY" value={{ inputs['date'] }}>
                            </div>     
                            <br>
                            <div class="input-group bootstrap-timepicker timepicker">
                                <span class="input-group-addon" id="sizing-addon1">Time</span>
                                <input type="text" class="form-control" style = "width:250px" id="time" name='time' placeholder="e.g. 6PM" value={{ inputs['time'] }}>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-default btn-lg" style="background: #ED6A5A;width:330px;height:45px;color:white">Find my options</button>
                        </td>

                        <td>
                            <div id="map" style="margin-left:100px"><img id="error" src="../static/img/error.png" style="display: none;margin-left:50px;width:650px;height:315px;" /></div>
                        </td>
                    </tr>

                </table>
            </form>

        </div>
    </div>

    <div class="container">
        <div class="starter-template">
            <table>
                <!-- bootstrap classes added by the uitheme widget -->
                <thead>
                    <tr>
                        <th class="filter-select filter-exact" data-placeholder="Pick an Airline">Airline</th>
                        <th>No</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Departure</th>
                        <th>Arrival</th>
                        <th>Delay Risk</th>
                </thead>
                <tbody>
                    {% for flight in flights %}
                    <tr>
                        <td>{{ flight['airline'] }}</td>
                        <td>{{ flight['no']}}</td>
                        <td>{{ flight['from'] }}</td>
                        <td>{{ flight['to'] }}</td>
                        <td>{{ flight['departure'] }}</td>
                        <td>{{ flight['arrival'] }}</td>
                        <td>
                            <label style="color:rgba(255,255,255,0)">{{ flight['delay_grade'] }}</label>
                            <label>{{ flight['delay'] }}</label>

                            <div id="{{ flight['container'] }}" style="margin-left:12px"></div>
                            <script>
                                $(function () {
                                    plotBar({{ flight['container'] }}, {{ flight['bar_width'] }})
                                })
                            </script>
                        </td>
                    </tr>
                    {% endfor %}


                </tbody>
            </table>

        </div>
    </div>




    <script src="https://maps.googleapis.com/maps/api/js" async defer></script>
    <!-- <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> -->
    <script src="../static/Highcharts-4.2.5/js/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!--<script src="../static/bootstrap-switch-master/docs/js/jquery.min.js"></script>-->
    <script src="../static/bootstrap-switch-master/docs/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap-switch-master/docs/js/highlight.js"></script>
    <script src="../static/bootstrap-switch-master/dist/js/bootstrap-switch.js"></script>
    <script src="../static/bootstrap-switch-master/docs/js/main.js"></script>

    <!-- Bootstrap core JavaScript
         ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->


    <!-- FUNCTION TO SHOW plot chart -->
    <script>
        function plotBar(container, bar_width) {
            var cl;
            switch (bar_width) {
            case 0.05:
                cl = '#006600';
                break;
            case 0.25:
                cl = '#33cc33';
                break;
            case 0.5:
                cl = '#FFCC66';
                break;
            case 0.75:
                cl = '#ED6A5A';
                break;
            case 1.0:
                cl = '#73190D';
            }

            var bar = new ProgressBar.Line(container, {
                strokeWidth: 10,
                easing: 'easeInOut',
                duration: 1400,
                color: '#FFC0CB',
                trailColor: '#eee',
                trailWidth: 1,
                svgStyle: {
                    width: bar_width * 200,
                    height: '10px'
                },
                text: {
                    style: {
                        // Text color.
                        // Default: same as stroke color (options.color)
                        color: '#999',
                        position: 'absolute',
                        right: '0px',
                        top: '5px',
                        padding: 1,
                        margin: 1,
                        transform: null
                    },
                    autoStyleContainer: false
                },
                from: {
                    color: cl
                },
                to: {
                    color: cl
                },
                step: (state, bar) => {
                    bar.path.setAttribute('stroke', state.color);
                }
            });

            bar.animate(1.0); // Number from 0.0 to 1.0
        }
    </script>



    <script>
        function initMap(origin, dest, dlat, dlong, olat, olong) {
            /*var dlat = document.getElementById("dlat").value;
            var dlong = document.getElementById("dlong").value;
            var olat = document.getElementById("olat").value;
            var olong = document.getElementById("dlong").value;*/
            /*var dlat = {{dlat}}
            var dlong = {{dlong}}
            var olat = {{olat}}
            var olong = {{olong}}*/

            /*var dlat = 37.000;
            var dlong = 23.000;
            var olat = 34.000;
            var olong = 30.000;*/

            var DesLatLng = {
                lat: dlat,
                lng: dlong
            };
            var OriLatLng = {
                lat: olat,
                lng: olong
            };
            var center = {
                lat: (dlat + olat) / 2 + 3,
                lng: (dlong + olong) / 2
            };

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: center,
                mapTypeControl: false,
                scaleControl: false,
                fullscreenControl: false,
                zoomControl: true,
                streetViewControl: false

            });

            var desAirport = origin;
            var oriAirport = dest;
            var desInfo = new google.maps.InfoWindow({
                content: desAirport
            });
            var oriInfo = new google.maps.InfoWindow({
                content: oriAirport
            });

            var marker1 = new google.maps.Marker({
                position: OriLatLng,
                label: "O",
                animation: google.maps.Animation.DROP,
                map: map,

            });

            var marker2 = new google.maps.Marker({
                position: DesLatLng,
                label: "D",
                animation: google.maps.Animation.DROP,
                map: map
            });
            desInfo.open(map, marker1)
            oriInfo.open(map, marker2)

            var flightPlanCoordinates = [
                {
                    lat: dlat,
                    lng: dlong
                    },
                {
                    lat: olat,
                    lng: olong
                    },
  ];

            var flightPath = new google.maps.Polyline({
                path: flightPlanCoordinates,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });

            flightPath.setMap(map);
        }
    </script>



    <script type="text/javascript" src="../static/js/canvasjs.min.js"></script>


</body>

</html>
